a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    font-family: 'Montserrat', sans-serif;
}

.title-container {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../../images/library.jpg");
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; /* Center the background image */
    border-bottom: black 8px solid;
}

/*
.title-container .title-content {
    position: absolute;
    width: 50%;
    height: auto;
    border: solid black 3px;
    background-color: #f7f9fc;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
*/


.title-container .title-content .title {
    font-family: 'Dancing Script', cursive;
    font-size: 6em; /* Adjusted font size for better display */
    margin: 0; /* Remove default margin */
    color: white;
}

/* Blogs */
#featured, #latest {
    margin: 2rem 15rem; /* Adjusted margin */
    font-family: 'Dancing Script', cursive;
    font-size: 3em; /* Adjusted font size for better display */
}

.blogs {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping */
    justify-content: space-between; /* Space between items */
    width: 100%;
    max-width: 80%;
    margin: 0 auto; /* Center the blogs section */
    padding: 2rem 0; /* Add padding for better spacing */
}

.blogs .blog-details {
    flex: 1 1 calc(33.333% - 20px); /* Adjust width and add margin */
    margin: 10px; /* Margin between blogs */
    padding: 1rem; /* Padding inside each blog */
    border: black 3px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px; /* Border radius for better display */
}

.blogs .blog-details h3 {
    text-align: center;
    margin-bottom: 10px;
}

.blogs .blog-details .dateTime {
    display: flex;
    justify-content: space-between;
    color: dimgrey;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.blogs .blog-details .dateTime p {
    margin: 0;
}

.blogs .blog-details a {
    align-self: center;
    color: #2ecc71; /* Adjust link color */
    font-weight: bold;
}
