.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination-link {
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
    background-color: #f6f6f6;
    color: #007BFF;
    border-radius: 5px;
}

.pagination-link:hover {
    background-color: #ddd;
}

.pagination-link.current {
    background-color: #007BFF;
    color: white;
}