* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
.title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 0; /* Reduced padding */
    margin-top: 0rem; /* Accommodate the 50px header */
}

.title-container .title {
    font-family: 'Dancing Script', cursive;
    font-size: 3em; /* Adjusted font size for better display */
    line-height: 1.2em; /* Adjusted line height */
    margin: 0; /* Remove margin */
}

.image-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
    gap: 10px; /* Add some spacing between images */
    width: 100%; /* Adjust width as needed */
    max-width: 1000px; /* Max width to ensure it doesn't get too large */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Adjusted border radius for better display */
    border: black 2px solid;

}

/* BLOGS */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

.blog {
    width: 60%;
    padding: 10px;
    background-color: #F1E6D4;
    border: black 3px solid;
    border-radius: 25px;
    text-align: justify;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-content {
    width: 95%;
}

/* Breadcumps */
.breadcrumb {
    list-style: none;
    padding: 0;
    margin-top: 4em;
    margin-left: 1em;
    display: flex;
    justify-content: flex-start;
}

.breadcrumb li {
    margin: 0;
}

.breadcrumb li + li:before {
    content: ">";
    padding: 0 8px;
    color: #555;
}

.breadcrumb a {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb li:last-child a {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}